#root {
  .workspace {
    width: 75%;
    padding: 0px 20px;
    overflow-y: auto;
    .no-project-selected {
      align-items:center;
      justify-content:center;
      margin-top: 25%;
    }
    .header-separator {
      margin-top: 5px;
    }
    .icon {
      width: 20px;
      height: 20px;
    }
    .button-tabs button {
      border-radius: 0px;
    }
  }
}
