#root {
  .workspace {
    width: 85%;
    padding: 0px 20px;
    overflow-y: auto;
    .no-project-selected {
      align-items:center;
      justify-content:center;
      margin-top: 25%;
    }
    .header-separator {
      margin-top: 5px;
    }
    .icon {
      width: 20px;
      height: 20px;
    }
    .button-tabs button {
      border-radius: 0px;
    }
    .canvas-container {
      width: 100%;
      .floating-controls {
        width: 150px;
        position: absolute;
        margin-right: 20px;
        right: 0;
        z-index: 999;
        x-card {
          margin: 0;
          padding: 10px;
          hr {
            margin-bottom: 10px;
          }
          .control {
            margin-bottom: 10px;
            x-label {
              margin-bottom: 3px;
            }
            x-switch {
              margin-top: 4px;
              x-label {
                padding-left: 5px;
              }
            }
          }
        }
      }
    }
  }
}
